.red{
  border: solid 3px red;
}
.error-text{
  color: red;
}
ul {
  display: inline-block;
}
.tooltip {
  position: fixed;
  padding: 10px 20px;
  border: 1px solid #b3c9ce;
  border-radius: 4px;
  text-align: center;
  color: #333;
  background: #c2ffbb;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .3);
}
#table{
  margin: 10px auto;
  border-collapse: collapse;
}
#table td{
  width: 50px;
  text-align: center;
  padding: 10px;
  border: 1px solid #a74600;
}
.green-row{
  background-color: lawngreen;
  color: #0d3349;
}